name: fairHire Backend CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      ConnectionStrings__Default: ${{ secrets.ConnectionStrings__DefaultConnection }}
      Jwt__Key: ${{ secrets.JWT__Key }}
    steps:
        - name: Checkout
          uses: actions/checkout@v5
        
        - name: Setup .NET
          uses: actions/setup-dotnet@v5
          with:
            dotnet-version: "10.0.x"
        - name: Restore
          run: dotnet restore fairHire.slnx
        - name: Build
          run: dotnet build fairHire.slnx --configuration Release --no-restore
